<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bb.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @bb.text %>
</p>

<p>
  <strong>Time:</strong>
  <%= @bb.time %>
</p>

<%= link_to 'Edit', edit_bb_path(@bb) %> |
<%= link_to 'Back', bbs_path %>
